<nav class="navbar">
    <a href="/" class="nav-link">Home</a>
    <a href="/beers" class="nav-link">Beers</a>
    <a href="/random-beer" class="nav-link">Random Beer</a>
    <a href="/search-by" class="nav-link">Search by</a>
    <a href="/wish-list" class="nav-link">Wishlist</a>
</nav>