<div class="error-container">
    <img src="/images/drunkMan.jpg" alt="drunk man">
    <h1>{{status}}... OH NO! Something went wrong</h1>
</div>


{{!-- <a href='https://www.freepik.com/vectors/people'>People vector created by macrovector - www.freepik.com</a> --}}