<div class="main-page-container">
    <img class="beer-img" src="{{beerImg}}" alt="beer image">
    <div class="intro-btns">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>

