.footer {
    align-items: center;
    background-color: #A19882;
    color: #f7f9f9;
    display: flex;
    height: 10vh;
    width: 100%;

}

.footer p {
    width: 100%;
    padding: 10px 0 10px 5px;
    text-align: center;
}